<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <header>
    <nav class="navbar">
      <ul class="list-items">
        <li class="item"><a href="/">Usuários</a></li>
        <li class="item"><a href="/admin/add-user.html">Add Usuário</a></li>
      </ul>
    </nav>
  </header>
  <main class="main-users">
    <h1>Usuários</h1>
    <p>Lista de todos os usuários...</p>
  </main>
  
</body>
</html>